#idygis {
    background-color: blue;
    color: black;
}
#fdygis {
    background-color: blue;
    color: black;
}
#bdygis{
   background-color: blue;
    color: black;
}
#achievement i{
    float: right;
}
#achievement span{font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}